<div class="card" style= "background-color: rgb(70, 14, 1)">
  <div class="card-header">
    <h1>Bienvenidos al "Upside down"</h1>
<article class= "card-text">
    <img class = "img_inicio" src = "../../assets/inicio.jpg">
    <h5>Si quieres estar a la última en noticias sobre la serie "Stranger Things" de Netflix, este es tu sitio.</h5>
    <p>Stranger Things es una serie sobrenatural/thriller estadounidense de televisión de horror de ciencia ficción creada por los hermanos Duffer para Netflix. Fue escrito y dirigido por Matt y Ross Duffer y ejecutivo-producido por Shawn Levy.
Este emocionante drama de Netflix protagoniza a la premiada actriz Winona Ryder como Joyce Byers, que vive en una pequeña ciudad de Indiana en 1983, inspirada en una época en que los cuentos de ciencia ficción cautivaban al público. Cuando el hijo de 12 años de edad de Joyce Byers, Will, desaparece, lanza una aterradora investigación sobre su desaparición con las autoridades locales. Mientras buscan respuestas, desentrañan una serie de misterios extraordinarios que involucran experimentos gubernamentales secretos, fuerzas nerviosas sobrenaturales y una niña muy inusual.
    </p>
    <div class = "video">
        <iframe src="https://www.youtube.com/embed/-RcPZdihrp4"></iframe>
    </div>
</article>
</div>
</div>
