@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

@font-face {
  font-family: 'Benguiat';
  font-style: normal;
  font-weight: normal;
  src: local('Benguiat'), url('./assets/benguiat_[allfont.net].woff') format('woff');
}

body{
  background-image: url("./assets/background.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

