@charset "UTF-8";
@import url(../../node_modules/font-awesome/css/font-awesome.css);
@import url(./reset.css);
*,
*::before, *::after,
*:before, *:after {
  box-sizing: border-box; }

@font-face {
  font-family: "Benguiat";
  font-style: normal;
  font-weight: normal;
  src: local("Benguiat"), url("benguiat_[allfont.net].woff") format("woff"); }

body {
  background-image: url(../img/background.jpg);
  background-size: 100%;
  background-attachment: fixed; }
  body h2 {
    font-family: "Benguiat";
    font-size: 2rem;
    font-weight: bolder; }
  body ul {
    font-family: 'Calibri'; }

.opacity body:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  overflow: auto;
  z-index: -1; }

header {
  color: #c48383;
  /*     background-image: url(../img/poster3.jpg);
    background-size: 70% */
  border-bottom-width: 6rem; }
  header img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    width: auto/9; }
  header p {
    font-size: 1rem;
    font-family: "Benguiat";
    text-align: center; }

.clear {
  width: 100%;
  clear: both; }

nav {
  border-radius: 1rem;
  background-color: brown;
  overflow: auto; }

/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial; }
  .navbar a {
    float: left;
    width: 15%;
    font-size: 16px;
    color: beige;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block; }
  .navbar a:hover, .navbar .dropdown:hover .dropbtn {
    background-color: #2b0b0b; }

.dropdown {
  float: left;
  overflow: hidden; }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: beige;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */ }

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2b0b0b;
  min-width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }
  .dropdown-content a {
    float: none;
    color: beige;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; }

aside {
  width: 34%;
  margin: 1em 2% 0em 1%;
  float: right;
  clear: right;
  color: black; }
  aside section {
    border-radius: 1rem;
    background-color: rgba(9, 18, 70, 0.911);
    border: black;
    padding: 1rem; }
    aside section img {
      width: 100%;
      height: 10%;
      position: relative; }
  aside h2 {
    font-family: "Benguiat";
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: beige; }
  aside h3, aside p {
    padding: 0.1em 1em; }
  aside p a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px; }
  aside ul {
    list-style-type: none;
    padding-bottom: 0.5em; }
  aside figure {
    width: 90%;
    margin: 0em auto; }
  aside img {
    width: 100%; }
  aside article {
    margin-bottom: 20px;
    border-radius: 1rem;
    background-color: rgba(220, 245, 245, 0.925);
    border: black;
    padding-bottom: 10px;
    padding-top: 10px; }

.notbot {
  background-color: #030000;
  color: #fcf8f8;
  border-radius: 50%;
  margin-left: 90px; }
  .notbot :hover {
    background-color: red; }

article h2 {
  text-align: center;
  padding: 10px;
  font-weight: bolder; }

main {
  width: 60%;
  margin: 1em 1% 0em 2%;
  float: left;
  clear: left;
  background-color: darkgray; }
  main h3 {
    text-align: center;
    margin: 1rem;
    font-family: "Benguiat";
    font-size: 3 rem;
    font-weight: bold;
    color: black; }
  main fieldset {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2 rem;
    color: black; }
  main figure {
    float: right;
    width: 30%;
    height: 40%; }
  main p {
    margin: 1rem;
    font-size: 1rem; }

section.main article {
  overflow: auto; }

footer {
  font-family: 'Calibri';
  margin-top: 1em;
  padding: 1em 0em;
  border-radius: 5px;
  background: #180505;
  color: rgba(196, 177, 177, 0.911); }
  footer ul {
    height: 2em;
    width: 80%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: right;
    overflow: auto; }
  footer li {
    display: inline;
    white-space: nowrap;
    width: 30%; }
  footer a {
    color: rgba(196, 177, 177, 0.911); }

.right {
  float: right;
  width: 60%; }

/* Two columns side by side */
.column {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px; }

.reparto li {
  padding: 2px;
  margin-left: 30px; }

.map {
  width: auto;
  height: 300px;
  display: block;
  justify-content: center;
  align-self: center;
  margin: 1em;
  margin-bottom: 16px; }

#reproductor {
  width: 720px;
  margin: 20px auto;
  padding: 5px;
  background: brown;
  border: 2px solid #666666;
  border-radius: 10px; }
  #reproductor nav {
    margin: 5px 0px;
    height: 25px;
    border-radius: 0.2px; }

#botones {
  float: left;
  margin-left: 2px;
  width: 99px;
  height: 14px; }
  #botones #reproducir {
    background-color: rgba(238, 238, 238, 0.61);
    color: #050544;
    border-radius: 2px;
    font-weight: bold; }

#barra {
  float: left;
  width: 600px;
  height: 25px;
  border: 1px solid #CCCCCC;
  background: #EEEEEE; }

#progreso {
  position: absolute;
  width: 0px;
  height: 25px;
  background: rgba(75, 75, 236, 0.808); }

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block; } }

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 90%; }

/* Some left and right padding inside the container */
.container {
  padding: 0 16px; }

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table; }

.title {
  color: grey; }

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%; }

.button:hover {
  background-color: #cf0000; }

.oculto {
  display: none; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: beige;
  border: 2px solid black; }

td, th {
  border: 1px solid #642121;
  text-align: left;
  padding: 8px; }

tr:nth-child(even) {
  background-color: #9b0f0f; }

tr:nth-child(odd) {
  background-color: #642121; }

.temporada {
  text-align: left; }

#noticias h2 {
  font-weight: bolder;
  font-size: 3rem; }

#noticias h3 {
  font-family: "Benguiat"; }

#noticias li {
  text-align: center;
  list-style-type: none;
  font-family: "Benguiat"; }

#noticias img {
  height: 3rem; }

p {
  font-family: 'Calibri'; }

.oculto {
  display: none; }

article h3 {
  text-align: center; }

.img_inicio {
  align-self: left;
  width: 95%;
  margin-left: 2%; }

.conte_galeria {
  background-color: brown;
  border-radius: 0.5rem; }

@media screen and (max-width: 768px) {
  /* tablets */
  /*Sección y aside pasan a pantalla completa*/
  section.main, aside {
    width: auto;
    margin: 20px 5%; }
  /*Los items del menu ocupan el 100%*/
  nav .navbar {
    display: inline-block;
    width: auto; }
  body aside {
    float: none;
    display: block; }
  img.img_inicio {
    display: block;
    float: none;
    width: 100%;
    margin: 2%; }
  .video {
    display: block;
    margin: auto;
    width: 100%;
    height: auto; } }

@media screen and (max-width: 480px) {
  /* mobile */
  /*En la sección, y el aside la imagen 
    ocupa el 100% */
  section.main article img {
    width: 100%; }
  /*  article, aside > section {
        width: auto;
        margin: 20px 5%;
        }  */
  body aside {
    float: none;
    display: block;
    width: 100%; }
  main {
    display: block;
    width: 100%; }
  header p {
    display: none; }
  header h1 {
    margin-top: 1rem;
    margin-left: 1rem; }
  /*  El menu superior desaparece */
  nav {
    display: block; }
  div.fa {
    display: block;
    float: left;
    margin-top: 1rem;
    font-size: 3rem;
    cursor: pointer; }
  nav .navbar {
    display: block;
    clear: both; }
  nav li {
    display: block; } }

* {
  margin: 0;
  padding: 0; }

.galeria .boton {
  display: inline-block;
  text-align: center;
  margin: 5px;
  border: 1px solid black;
  padding: 5px;
  font-family: 'Benguiat'; }

/*Reubicamos el contenedor de las imágenes*/
.galeria .boton + figure {
  position: absolute;
  left: 20%;
  top: 45%;
  margin-left: 300px;
  transition: 1s; }

/* Damos tamaño 0 a las imágenes*/
.galeria .boton + figure img {
  height: auto;
  width: 0;
  transition: 3s all; }

/*Cambios en el "boton" al pasaar el ratón*/
.galeria .rotacion:hover {
  -webkit-transform: rotate(90deg); }

.galeria .boton:hover {
  background-color: maroon;
  box-shadow: 0px 0px 5px black;
  cursor: pointer; }

.boton:hover + figure {
  margin-left: 0px; }

.boton:hover + figure img {
  width: 300px;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg); }
