h2{
    margin-top: 10px;
    font-family: Benguiat;
    text-align: center;
    font-weight: bold;
    color: rgb(230, 252, 110)
}

h3{
    font-family: Benguiat;
    padding: 10px;
    text-align: left;

}

#noticias{
  background-color: rgb(13, 2, 54);
  text-align: justify;
}

.card{
  background-color:  rgb(172, 172, 172);
  color: black;
}
a{
  color: darkblue;
  font-weight: bold;
}
