   <!--Noticias en aside-->
   <div id="noticias" class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h2 class="card-title">Noticias</h2>
              <div class="card-body">
        <h3>La tercera temporada podria tener 3 nuevos personajes</h3>
        <p>"Fuentes informan que la nueva temporada podría incluir tres nuevos personajes: el alcalde, un reportero y una señor mayor”.</p>
        <li><a href="https://www.elle.com/es/living/ocio-cultura/news/a798285/stranger-things-3-fecha-estreno/">Ir a la noticia</a></li>
      </div>
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-body">
            <h3>El productor ejecutivo de 'Stranger Things' asegura que la serie no se convertira en una franquicia</h3>
            <p>"El equipo de la exitosa historia de Netflix protagonizada por Once (Millie Bobby Brown) tiene pensado estrenar un máximo de cuatro o cinco temporadas..</p>
            <li><a href="http://www.sensacine.com/noticias/series/noticia-18565104/">Ir a la noticia</a></li>
          </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
              <div class="card-body">
            <h4>Los hermanos Duffer, creadores de 'Stranger Things', ¿dejaran la serie?</h4>
            <p>"Un informe que se filtró hace poco indicaba que los hermanos Duffer se estaban alejando de la dirección de la serie”.</p>
            <li><a href="http://www.elmundo.es/happy-fm/2018/02/21/5a8d9205e2704edf668b4624.html">Ir a la noticia</a></li>
          </div>
        </div>
    </div>
  </div>


