article{
  padding: 10px;
  text-align: center;
  background-color: rgb(70, 14, 1)
}

h1{
  font-family: Benguiat;
  text-align: center;
  font-weight: bolder;
  color: rgb(223, 17, 17)
}
h3{
  color:black;
  font-weight: bold;
  font-family: Benguiat;
}

ul,li{
  background-color: rgb(65, 60, 60);
  color: rgb(226, 226, 226);
}
ul li a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.card-img-left{
  width: 10rem;
}

#boton{
  align-self: baseline
}
