@import "../../node_modules/font-awesome/css/font-awesome.css";
@import"./reset.css";

*, 
*::before, *::after, 
*:before, *:after { 
    box-sizing : border-box;
}

@font-face {
    font-family: 'Benguiat';
    font-style: normal;
    font-weight: normal;
    src: local('Benguiat'), url('benguiat_[allfont.net].woff') format('woff');
}

body{
     background-image: url(../img/background.jpg);
     background-size: 100%;
     background-attachment: fixed;

}
.opacity body:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    opacity: 0.1;
    overflow:auto;
    z-index: -1;
}

header{
    color:rgb(196, 131, 131);
/*     background-image: url(../img/poster3.jpg);
    background-size: 70% */
    border-bottom-width: 6rem;
}
    .wraper{
        text-align: center;
    }

    header p{
        font-size: 1rem;
        font-family: 'Benguiat';
        text-align: center;
    }
    .clear {
        width: 100%;
        clear: both;
    }

nav {
    border-radius: 1rem;
    background-color: brown;
    overflow: auto;

}
/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  width: 20%;
  font-size: 16px;
  color:beige;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding: 1rem;
}
/*   nav ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-align: center;
    }


    nav li{
        display: inline-block;
        white-space: nowrap;
        width: 20%;
        font-size: 0.5 em
    }

    nav a {
        text-decoration: none;
        color: beige;
        font-weight: bold;
        display: block;
        /*El padding determina el alto del menu*/
  /*       padding: 1rem;
    }  */
    /* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: brown;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2e1111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: beige;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

aside {
        width: 34%;
        margin: 1em 2% 0em 1%;
        float: right;
        clear: right;
        color: black
    }
        aside section {
            border-radius: 1rem;
            background-color: rgba(9, 18, 70, 0.911);
            border: black;
            padding: 1rem;
        }
        aside section img{
            width: 100%;
            height: 10%;
            position: relative;
         }
        
        aside h2{
        font-family: 'Benguiat'; 
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        color: beige;
        
        }
    
        aside h3, p{
            padding: 0.1em 1em;
        }

        aside p a{
                text-decoration: none;
                display: inline-block;
                padding: 8px 16px;
        }
        .notbot{
            background-color: #030000;
            color: rgb(252, 248, 248);
            border-radius: 50%;
        }
        .notbot:hover {
            background-color: #555;
        }
    
        aside ul{
            list-style-type: none;
            padding-bottom: 0.5em;
        }
        
        aside figure {
            width: 90%;
            margin: 0em auto;
        }
        
        aside img {
            width: 100%;
        }
        aside article{
            border-radius: 1rem;
            background-color:rgba(220, 245, 245, 0.925);
            border: black;
        }
main{
    width: 50%;

    
}   main h3{
     text-align: center;
     font-family: 'Benguiat';
     font-size: 3 rem;
     font-weight: bold;
     color: black
    }
    main fieldset{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 2 rem;
        color: black
    }
main {
        width: 60%;
        margin: 1em 1% 0em 2%;
        float: left;
        clear: left;
        background-color: darkgray;
        }
        section.main article{
            overflow: auto;
        }
footer{
            margin-top: 1em;
            padding: 1em 0em;
            border-radius: 5px;
          /*   background-image: url(../img/poster2.jpg);
            background-size: 80% */
            background:rgb(24, 5, 5);
            color: rgba(196, 177, 177, 0.911)
        }
    

    footer ul{
        width:80%;
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-align: center;
        overflow: auto;
    }

    footer li{
        display: inline-block;
        white-space: nowrap;
        width: 30%;
    }
    footer a{
      color: rgba(196, 177, 177, 0.911)
    }

    .right{
        float: right;
        width:60%
    }

/* Two columns side by side */
.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 90%;
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}
    
