h1{
  font-family: Benguiat;
  text-align: center;
  font-weight: bolder;
  color: rgb(223, 17, 17)
}

h3{
    font-family: Benguiat;
    font-weight: bold;
    text-align: center;
}

article{
  background-color: rgb(70, 14, 1);
}

.title{
  text-align: center;
  color: rgb(49, 49, 49);
  size: 50%
}
.container p button{
  position: center;
}

.card{
  padding: 10px;
  align-content: center;
  background-color: rgb(172, 172, 172);
  color: black;
}
.card img{
  align-self: center;
  padding: 10px;
  background-color: rgb(126, 123, 123);
}
.card .container{
  background-color: rgb(126, 123, 123);
}
.row{
  padding: 10px;
}

