<article>
    <h3>Sobre nosotras:</h3>
    <div class="row">
            <div class="col-6">
              <div class="card">
                <img src="../../assets/lucia.jpg" alt="Lucia" style="width:80%">
                <div class="container">
                  <h2>Lucia Alvargonzalez</h2>
                  <p class="title">Coescritora</p>
                  <p>Estudiante del grado de Ingeniería infórmatica en la universidad Carlos III de Madrid</p>
                  <p>Becaria en BabelCamp 3.0</p>
                  <p>lucia.alvargonzalez@babel.es</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <img src="../../assets/bea.jpg" alt="Bea" style="width:80%">
                <div class="container">
                  <h2>Beatriz Moreno</h2>
                  <p class="title">Coescritora</p>
                  <p>Estudiante del grado de Matemáticas e infórmatica en la universidad Politécnica de Madrid</p>
                  <p>Becaria en BabelCamp 3.0</p>
                  <p>beatriz.moreno@babel.es</p>
                  <p><button class="button">Contact</button></p>
                </div>
              </div>
            </div>
            </div>
</article>
