<article>
  <br>
    <h1>Sobre nosotras</h1>
    <div class="row">
            <div class="col-6">
              <div class="card">
                <br>
                <img src="../../assets/lucia.jpg" alt="Lucia" style="width:100%">
                <br>
                <div class="container">
                  <br>
                  <h3>Lucia Alvargonzalez</h3>
                  <p class="title">Coescritora</p>
                  <p>Estudiante del grado de Ingeniería infórmatica en la universidad Carlos III de Madrid</p>
                  <p>Becaria en BabelCamp 3.0</p>
                  <p>Correo: lucia.alvargonzalez@babel.es</p>
                  <p><button class="btn btn-info">Contact</button></p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <br>
                <img src="../../assets/bea.jpg" alt="Bea" style="width:100%">
                <br>
                <div class="container">
                  <br>
                  <h3>Beatriz Moreno</h3>
                  <p class="title">Coescritora</p>
                  <p>Estudiante del grado de Matemáticas e infórmatica en la universidad Politécnica de Madrid</p>
                  <p>Becaria en BabelCamp 3.0</p>
                  <p>Correo: beatriz.moreno@babel.es</p>
                  <p><button class="btn btn-info">Contact</button></p>
                </div>
              </div>
            </div>
            </div>
</article>
