<div class="container">
    <div class="row">
      <div class="col-12">
          <ul class="nav nav-pills">
              <li class="nav-item nav-link">
                  <a class="nav-link" routerLinkActive="active" routerLink="terminos">Términos</a>
              </li>
              <li class="nav-item nav-link">
                  <a class="nav-link" routerLinkActive="active"  routerLink="privadidad">Privacidad</a>
              </li>
              <li class="nav-item nav-link">
                <a class="nav-link" routerLinkActive="active"  routerLink="ayuda">Ayuda</a>
            </li>
              <li class="nav-item nav-link">
                  <a class="nav-link" routerLinkActive="active"  routerLink="about">Acerca de</a>
              </li>
          </ul>
          <p><i class="fa fa-copyright"></i> 2018 Babel S.A.</p>
                  <a id="facebook" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                  <a id="twitter"href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
                  <a id="instagram"href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </div>
