.container{
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 0.3rem
}
p{
  display: flex;
  justify-content: center;
  color: rgb(0, 132, 255)
}

li a{
  background-color: rgba(92, 4, 4, 0.705);
  font-family: Benguiat;
  align-self: center;
  color: rgb(230, 252, 110);
  font-weight: bolder;
}

.router-link-active{
  background-color: rgb(13, 2, 54);
}
