@import "../../node_modules/font-awesome/css/font-awesome.css";
@import"./reset.css";

*, 
*::before, *::after, 
*:before, *:after { 
    box-sizing : border-box;
}

$letra_fondo_oscuro: beige;
$font_ST:'Benguiat';

@font-face {
    font-family: $font_ST;
    font-style: normal;
    font-weight: normal;
    src: local($font_ST), url('benguiat_[allfont.net].woff') format('woff');
}

body{
     background-image: url(../img/background.jpg);
     background-size: 100%;
     background-attachment: fixed;
    h2{
        font-family: $font_ST;
    }
    ul{
        font-family: 'Calibri'
    }
}
.opacity body:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    opacity: 0.1;
    overflow:auto;
    z-index: -1;
}

header{
    color:rgb(196, 131, 131);
/*     background-image: url(../img/poster3.jpg);
    background-size: 70% */
    border-bottom-width: 6rem;
    img{
        display:block;
        margin:auto;
        max-width: 100%;
        height: auto;
        width: auto/9;
    }
    p{
        font-size: 1rem;
        font-family: $font_ST;
        text-align: center;
    }
}
    .clear {
        width: 100%;
        clear: both;
    }

nav {
    border-radius: 1rem;
    background-color: brown;
    overflow: auto;

}
/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: Arial;
    a {
        float: left;
        width: 20%;
        font-size: 16px;
        color:$letra_fondo_oscuro;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        display: inline-block;
    }
    a:hover, .dropdown:hover .dropbtn {
        background-color: darken(brown,30); 
    }
}

.dropdown {
    float: left;
    overflow: hidden;
   .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: $letra_fondo_oscuro;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
} 
  
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: darken(brown,30); 
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
     a {
    float: none;
    color: $letra_fondo_oscuro;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

aside {
        width: 34%;
        margin: 1em 2% 0em 1%;
        float: right;
        clear: right;
        color: black;
    section {
            border-radius: 1rem;
            background-color: rgba(9, 18, 70, 0.911);
            border: black;
            padding: 1rem;
            img {
                width: 100%;
                height: 10%;
                position: relative;
            }
        }
    h2{
        font-family: $font_ST; 
        text-align: center;
        font-weight: bold;
        margin:1rem;
        font-size: 1rem;
        color: $letra_fondo_oscuro;
        
        }
    h3, p{
            padding: 0.1em 1em;
        }
    p a{
                text-decoration: none;
                display: inline-block;
                padding: 8px 16px;
        }
    ul{
            list-style-type: none;
            padding-bottom: 0.5em;
        }
        
    figure {
            width: 90%;
            margin: 0em auto;
        }
        
    img {
            width: 100%;
        }
    article{
            border-radius: 1rem;
            background-color:rgba(220, 245, 245, 0.925);
            border: black;
        }
    }


.notbot{
    background-color: #030000;
    color: rgb(252, 248, 248);
    border-radius: 50%;
    :hover {
    background-color: lighten(#030000,10);
        }
    }
        

article h2{
    text-align: center;
}



main{
    width: 60%;
    margin: 1em 1% 0em 2%;
    float: left;
    clear: left;
    background-color: darkgray;
     h3{
        text-align: center;
        margin:1rem;
        font-family: $font_ST;
        font-size: 3 rem;
        font-weight: bold;
        color: black
    }
    fieldset{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 2 rem;
        color: black
    }
    figure{
        float: right;
        width: 30%;
        height: 40%;
    }
    p{
        margin:1rem;
        font-size: 1rem;        
    }
}
section.main article{
            overflow: auto;
        }

footer{
    font-family: 'Calibri';    
    margin-top: 1em;
    padding: 1em 0em;
    border-radius: 5px;
    /*   background-image: url(../img/poster2.jpg);
    background-size: 80% */
    background:rgb(24, 5, 5);
    color: rgba(196, 177, 177, 0.911);
     ul{
        width:80%;
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-align: center;
        overflow: auto;
    }
    li{
        display: inline-block;
        white-space: nowrap;
        width: 30%;
    }
    a{
      color: rgba(196, 177, 177, 0.911)
    }
}
    .right{
        float: right;
        width:60%
    }

/* Two columns side by side */
.column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.map {
    width: auto;
    height: 300px;
    display: block;
    justify-content: center;
    align-self: center;
    margin: 1em;
    margin-bottom: 16px;
}

#reproductor{
    width: 70%;
	margin: 20px auto;
	padding: 5px;
	background: #999999;
	border: 1px solid #666666;
	border-radius: 10px;}
#botones{
	float: left;
	width: 10%;
	height: 25px;}
#barra{
	position: relative;
	float: left;
	width: 80%;
	height: 16px;
	padding: 2px;
	border: 1px solid #CCCCCC;
	background: #EEEEEE;}
#progreso{
	position: absolute;
	width: 0%;
		height: 16px;
        background: red;}
        
/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 90%;
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: lighten(#030000,40);;
}

.oculto{
    display:none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: $letra_fondo_oscuro;
    border: 2px solid black;
}

td, th {
    border: 1px solid #642121;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #9b0f0f;
}
tr:nth-child(odd) {
    background-color: #642121;
}

.temporada{
    text-align: left;
}


    
#noticias{ 
    h3{
    font-family: $font_ST;
    }
    li{
    text-align: center;
    list-style-type: none;
    font-family: $font_ST;
    }
}
p{
    font-family: 'Calibri';
}
.oculto{
    display: none;
}

article h3{
    text-align: center;
}

.img_inicio{
    align-self: left;
    width: 95%; 
    margin-left: 2%; 
}

@media screen and(max-width:768px) { /* tablets */

    /*Sección y aside pasan a pantalla completa*/
    section.main, aside {
    width: auto;
    margin: 20px 5%;
    }

    /*Los items del menu ocupan el 100%*/
    
    nav .navbar{
        display: inline-block;
        width: auto;
    }
    body aside{
        float: none;
        display: block;
    }

    img.img_inicio{
        display: block;
        float: none;
        width: 100%; 
        margin: 2%; 
    }

    .video{
        display:block;
        margin:auto;
        width: 100%;
        height: auto;
    }

}

@media screen and (max-width:480px) { /* mobile */

    /*En la sección, y el aside la imagen 
    ocupa el 100% */
    section.main article img {
        width: 100%;
    }

   /*  article, aside > section {
        width: auto;
        margin: 20px 5%;
        }  */

        
    body aside{
        float: none;
        display: block;
        width: 100%;
    }

    main{
        display: block;
        width: 100%;
    }

    header p {
        display: none;
    }

    header h1 {
        margin-top: 1rem;
        margin-left: 1rem;
    }
   /*  El menu superior desaparece */
    nav{
        display: none;
    }
    div.fa {
        display:block;
        float: left;
        margin-top: 1rem;
        font-size: 3rem;
        cursor: pointer;
    }

    nav .navbar {
        display: block;
        clear: both;
    }

    nav li {
        display: block;
    }
}