<template id="temporadas">
        <article>
            <h2>Temporadas</h2>
            <article>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut quam finibus, 
                        ornare massa sit amet, molestie est. Duis cursus tempor mattis. Nunc leo turpis, 
                        eleifend id erat sed, lobortis aliquam mi. Fusce vel nunc et est venenatis placerat 
                        a non mi. Suspendisse ultricies purus in orci feugiat, sed mattis ligula eleifend.
                         Vivamus convallis elit sed orci ullamcorper bibendum. Integer venenatis sit amet 
                         ipsum quis convallis. Praesent pharetra diam eget sollicitudin imperdiet. 
                         Nullam pellentesque aliquam justo, feugiat rutrum lorem vulputate nec. 
                         Nulla elementum ipsum eget nulla suscipit rhoncus. Duis tempus orci tellus, 
                         sed ornare augue aliquet ut. Phasellus dictum mauris a accumsan ullamcorper. 
                         Fusce consectetur lectus semper augue ultrices blandit. Morbi eu nibh vel sem 
                         tincidunt tempus vel et massa. Maecenas quis sollicitudin enim, semper pulvinar neque.</p>
                </article>
        </article>
    </template>