<h3>¿Te has registrado ya? ¡Compruébalo!</h3>

<button class="btn btn-md btn-outline-green"
(click)="mostrar()">Ver lista</button>


<div class="lista"
  [hidden]="show"><br>
<ul class="list-group">
  <li class="list-group-item"
  *ngFor="let item of aItems; let i = index">
      <span class="col">Nombre: {{item.nombre}} {{item.apellido}}</span><br>
      <span class="col">Email: {{item.email}} Telefono: {{item.telefono}} </span><br>
      <span class="col">Recibe información extra sobre: {{item.serie}}</span>
      <button class="decha btn btn-sm btn-dark"
        (click)="mostrar2()">Estoy registrado</button>
  </li>
</ul>
</div>

<div class="intro" [hidden]="show2">
  <br>
  <p>¡Enhorabuena! Ya estás suscrito </p>
</div>
