<div class="container">
  <div class="row">
        <nav class="col-9">
            <ul class="nav nav-pills">
                <li class="nav-item nav-link">
                    <a class="nav-link" routerLinkActive="active" routerLink="inicio">Inicio</a>
                </li>
                <li class="nav-item nav-link">
                    <a class="nav-link"  routerLinkActive="active"  routerLink="temporadas">Temporadas</a>
                </li>
                <li class="nav-item nav-link">
                  <a class="nav-link" routerLinkActive="active"  routerLink="blog">Blog</a>
              </li>
                <li class="nav-item nav-link">
                    <a class="nav-link" routerLinkActive="active"  routerLink="about">Acerca de</a>
                </li>
            </ul>
        </nav>
  </div>
</div>

